/* Reset default styles */
* {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0px auto;
    line-height: 1.8;
}

/* Container styling for layout */
.container {
    max-width: 800px;
    margin: 2rem auto;
    font-family: Arial, sans-serif;
}

#vis svg {
    margin: 2rem 0;
    border: 1px solid #ccc;
}

#detail {
    margin-left: 80px
}

#tooltip {
    position: absolute;
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
}